<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>PsychExperiment</title>

        <!-- fonts from Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700|Lato|Playfair+Display:700" rel="stylesheet">

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="styles/styles.css">

        <!-- js dependencies -->
        <script src="libraries/mustache/mustache.min.js"></script>
        <script src="libraries/jquery/dist/jquery.min.js"></script>

        <!-- items -->
        <script src="scripts/items.js"></script>

        <!-- local js files -->
        <script src="scripts/exp.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/helpers.js"></script>
        <script src="scripts/submit_to_server.js"></script>

        <!-- views -->
        <script src="views/01_intro.js"></script>
        <script src="views/02_instructions.js"></script>
        <script src="views/03_practice.js"></script>
        <script src="views/04_beginExp.js"></script>
        <script src="views/05_trial.js"></script>
        <script src="views/06_postTest.js"></script>
        <script src="views/07_thanks.js"></script>

        <!-- config -->
        <script src="config/config_general.js"></script>
        <script src="config/config_views.js"></script>
        <script src="config/config_deploy.js"></script>

    </head>

    <body>
        <noscript>This task requires JavaScript. Please enable JavaScript in your browser and reload the page. For more information on how to do that, please refer to 
            <a href='https://enable-javascript.com' target='_blank'>enable-javascript.com</a>
        </noscript>

        <!-- views are inserted in main -->
        <main id="main">
            Loading...
        </main>

        <!-- Mustache templates below. Each template is a view with a separate HTML structure. -->

        <!-- Introduction view -->
        <script id="intro-view" type="x-tmpl-mustache">
        <div class='view'>
            {{# title }}
            <h1 class="title">{{ title }}</h1>
            {{/ title }}
            {{^ title }}
            <h1 class="title">Welcome!</h1>
            {{/ title }}
            {{# text }}
            <section>
                <p> {{{ text }}} </p>
            </section>
            {{/ text }}
            <p class="id-field nodisplay">
                {{# IDtext }}
                <label for="id-field">{{ IDtext }}</label>
                {{/ IDtext }}
                {{^ IDtext }}
                <label for="id-field">Please enter your ID</label>
                {{/ IDtext }}
                <input type="text" id="id-field" />
            </p>
            {{# button }}
            <button id="next">{{ button }}</button>
            {{/ button }}
            {{^ button }}
            <button id="next">Next</button>
            {{/ button }}
        </div>
        </script>

        <!-- Instructions view -->
        <script id="instructions-view" type="x-tmpl-mustache">
        <div class="view">
            {{# title }}
            <h1 class="title">{{ title }}</h1>
            {{/ title }}
            {{^ title }}
            <h1 class="title">Instructions</h1>
            {{/ title }}
            {{# text }}
            <section>
                <p>{{ text }}</p>
            </section>
            {{/ text }}
            {{# button }}
            <button id="next">{{ button }}</button>
            {{/ button }}
            {{^ button }}
            <button id="next">Next</button>
            {{/ button }}
        </view>
        </script>

        <!-- Practice trial view -->
        <script id="practice-view" type="x-tmpl-mustache">
        <div class="view">
            {{# title }}
            <h1 class="title">{{ title }}</h1>
            {{/ title }}
            {{# spaceInstructions }}
            <h3 class="space-instructions">{{ spaceInstructions }}</h3>
            {{/ spaceInstructions }}
            <div class="stimulus-container">
                <div class="cross-container nodisplay">
                    <img class="point" src="images/cross.png" height="30" width="30" />
                </div>
                {{# context }}
                <div class="stimulus img nodisplay">{{ context }}</div>
                {{/ context }}
                {{^ context }}
                <div class="stimulus img nodisplay"></div>
                {{/ context }}
            </div>
            {{# helpText }}
            <p class="help-text hidden">{{ helpText }}</p>
            {{/ helpText }}
            <p class="sentence nodisplay">
                {{# sentence }}
                <span class="word">{{ . }}</span>
                {{/ sentence }}
            </p>
            <p class="question nodisplay">
                <span>very unnatural</span>
                <input type="radio" name="question" id="1"
                    value="1" />
                <input type="radio" name="question" id="2" value="2" />
                <input type="radio" name="question" id="3" value="3" />
                <input type="radio" name="question" id="4" value="4" />
                <input type="radio" name="question" id="5" value="5" />
                <input type="radio" name="question" id="6" value="6" />
                <input type="radio" name="question" id="7" value="7" />
                <span>completely natural</span>
            </p>
            <button id="next" class="nodisplay">Next</button>
        </div>
        </script>

        <!-- Begin Experiment view -->
        <script id="begin-exp-view" type="x-tmpl-mustache">
        <div class="view">
            {{# text }}
            <section>
                <p>{{ text }}</p>
            </section>
            {{/ text }}
            <button id="next">Start the Experiment</button>
        </div>
        </script>

        <!-- Trial view (actual experiment) -->
        <script id="trial-view" type="x-tmpl-mustache">
        <div class="view">
            <div class="progress-bar-container">
                <p>progress</p>
                <div class="progress-bar"><span id='filled'><span></div>
            </div>
            <div class="clearfix"></div>
            {{# spaceInstructions }}
            <h3 class="space-instructions">{{ spaceInstructions }}</h3>
            {{/ spaceInstructions }}
            <div class="stimulus-container">
                <div class="cross-container nodisplay">
                    <img class="point" src="images/cross.png" height="30" width="30" />
                </div>
                {{# context }}
                <div class="stimulus img nodisplay">{{ context }}</div>
                {{/ context }}
                {{^ context }}
                <div class="stimulus img nodisplay"></div>
                {{/ context }}
            </div>
            {{# helpText }}
            <p class="help-text hidden">{{ helpText }}</p>
            {{/ helpText }}
            <p class="sentence nodisplay">
                {{# sentence }}
                <span class="word">{{ . }}</span>
                {{/ sentence }}
            </p>
            <p class="question nodisplay">
                <span>very unnatural</span>
                <input type="radio" name="question" id="1"
                    value="1" />
                <input type="radio" name="question" id="2" value="2" />
                <input type="radio" name="question" id="3" value="3" />
                <input type="radio" name="question" id="4" value="4" />
                <input type="radio" name="question" id="5" value="5" />
                <input type="radio" name="question" id="6" value="6" />
                <input type="radio" name="question" id="7" value="7" />
                <span>completely natural</span>
            </p>
            <button id="next" class="nodisplay">Next</button>
        </div>  
        </script>

        <!-- post test view -->
        <script id="post-test-view" type="x-tmpl-mustache">
        <div class="view post-test-templ">
            {{# title }}
            <h1 class="title">{{ title }}</h1>
            {{/ title }}
            {{^ title }}
            <h1 class="title">Additional Information</h1>
            {{/ title }}
            {{# text }}
            <section>
                <p>{{ text }}</p>
            </section>
            {{/ text }}
            <form>
                <p>
                    <label for="age">Age:</label>
                    <input type="number" name="age" min="18" max="110" id="age" />
                </p>
                <p>
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender">
                        <option></option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="other">other</option>
                    </select>
                </p>
                <p>
                    <label for="education">Level of Education:</label>
                    <select id="education" name="education">
                        <option></option>
                        <option value="graduated_high_school">Graduated High School</option>
                        <option value="graduated_college">Graduated College</option>
                        <option value="higher_degree">Higher Degree</option>
                    </select>
                </p>
                <p>
                    <label for="languages" name="languages">Native Languages: <br /><span>(i.e. the language(s) spoken at home when you were a child)</</span></label>
                    <input type="text" id="languages"/>
                </p>
                <p class="comment-sect">
                    <label for="comments">Further comments</label>
                    <textarea name="comments" id="comments"
                    rows="6" cols="40"></textarea>
                </p>
                <button id="next">Next</button>
            </form>
        </div>
        </script>

        <!-- thanks view -->
        <script id="thanks-view" type="x-tmpl-mustache">
        <div class="view thanks-templ">
            <h4 class="warning-message">Please do not close this tab until you see a <strong> Submission Successful</strong> message on the screen.</h4>
            {{# thanksMessage }}
            <h1 class="thanks-message nodisplay">{{ thanksMessage }}</h1>
            {{/ thanksMessage }}
            {{^ thanksMessage }}
            <h1 class="thanks-message nodisplay">Thank you for taking part in this experiment!</h1>
            {{/ thanksMessage }}
            <h4 class="success-message nodisplay"><strong class="close-ok">&#10004; Submission Successful!</strong></h4>
            {{# extraMessage }}
            <h4 class="extra-message nodisplay">{{{ extraMessage }}}</h4>
            {{/ extraMessage }}
            <form method="post" id="mturk-submission-form" action="{{ mturk_server }}">
                <input type="hidden" name="assignmentId" value="{{ assignmentId }}" />
                <input type="hidden" name="startDateTime" value="{{ startDateTime }}" />
                <input type="hidden" name="totalExpTimeMinutes" value="{{ totalExpTimeMinutes }}" />
                <input type="hidden" name="userAgent" value="{{ userAgent }}" />
                <input type="hidden" name="author" value="{{ author }}"/>
                <input type="hidden" name="experimentId" value="{{ experimentId }}"/>
                <input type="hidden" name="trials" value="{{ trials }}"/>
                <input type="hidden" name="description" value="{{ description }}"/>
                <input type="hidden" name="workerId" value="{{ workerId }}"/>
            </form>
        </div>
        </script>
    </body>
</html>
