html,
body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}

/* the container where the views are plugged */
main {
    max-width: 960px;
    margin: 50px auto;
}

/* titles */
h1 {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Playfair Display", "Noto Serif", serif;
    font-size: 34px;
    text-align: center;
}

h2,
h3,
h4 {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Lato", "Noto Sans", serif;
    font-size: 20px;
    text-align: center;
}

h4 {
    font-size: 18px;
    text-align: left;
}

/* text */
p {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    line-height: 27px;
    font-family: "Lato", "Noto Sans", sans-serif;
    margin: 0 auto;
    max-width: 550px;
}

button {
    background-color: #5187BA;
    border: none;
    border-radius: 2px;
    color: white;
    display: block;
    font-family: "Lato", "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.9px;
    margin: 40px auto 20px auto;
    outline: none;
    padding: 5px 10px;
    text-transform: uppercase;
}

/* buttons when covered or clicked */
button:hover,
button:focus {
    background-color: #324D93;
}

.progress-bar-container {
    float: right;
    margin: 0 10px 30px 10px;
}

.clearfix {
    clear: both;
}

.progress-bar {
    border: 1px solid #5187BA;
    height: 20px;
    width: 180px;
}

.progress-bar #filled {
    background-color: #5187BA;
    display: block;
    height: 20px;
}

/*
    practice trial and trial related styles
*/
.progress-bar-container {
    float: right;
    margin: -20px 0 40px 0;
}

.pause-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.pause-container .point {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.stimulus-container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 0 auto;
    width: 500px;
}

.stimulus {
    font-size: 20px;
}

/* temp */
.img {
}

.help-text {
    color: #555;
    font-style: italic;
    text-align: center;
}

.sentence-container {
    box-sizing: boder-box;
    display: inline-block;
    margin: 0 auto;
    padding: 30px 0;
    width: auto;
}

.sentence,
.question {
    padding: 20px 0;
    text-align: center;
}

.word {
    font-size: 1.3rem; 
    margin: 0 3px;
    position: relative;
    visibility: hidden;
}

.word:after {
    height: 2px;
    width: 100%;
    background: #333;
    display: inline-block;
    content: "";
    visibility: visible;

    position: absolute;
    bottom: -3px;
    left: 0;
}

.answer {
    border: 2px solid #535AAC;
    border-radius: 3px;
    color: #535AAC;
    font-weight: bold;
    margin: 10px;
    padding: 3px 6px;
}

.answer:hover,
.answer:focus {
    background: #535AAC;
    color: white;
}

/* post test styles */
.post-test-templ form {
    padding: 30px 0;
    max-width: 550px;
    margin: 0 auto;
}

.post-test-templ p {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    text-align: left;
}

.post-test-templ form input, 
.post-test-templ form select {
    width: 200px;
    max-width: 200px;
}

.post-test-templ form label {
    margin: 0 10px 0 0;
}

.post-test-templ form label span {
    font-size: 0.8em;
}

.post-test-templ form textarea {
    border-radius: 5px;
    border: 1px solid #777;
    font-family: "Lato", serif;
    font-size: 1em;
    padding: 10px 15px;
    margin: 5px 0 0 0;
}

/* thanks styles */
.thanks-templ .debug-results {
    text-align: left;
}

.thanks-templ h4 {
    margin: 40px 10px;
}

.thanks-templ .close-ok {
    border: 2px solid #25BC82;
    color: #25BC82;
    display: inline-block;
    padding: 10px;
}

.thanks-templ .success-message {
    text-align: center;
}

.thanks-templ .prolific-url {
    color: white;
    display: inline-block;
    background: #25BC82;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/*
    classes used by the js
*/
.nodisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
